.error-card {
    margin-top: 10px;
    border: 1px solid silver;
    border-radius: 5px;
    box-shadow: 0 0 5px silver;
    background-color: blueviolet;
    color: white;
    padding: 15px;
    &:hover {
        box-shadow: 0 0 8px blue;
    }
    p {
        font-size: 17px;
        margin: 0;
        padding: 0;
        line-height: 30px;
    }
}